@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
    scroll-behavior: smooth; 
    -webkit-scroll-behavior: smooth 
}

#about-us {
    scroll-behavior: smooth;
}

.mySwiper {
    width: 100%;
    height: 100vh;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}
